
         /* head css part start */
         .head_container{
            border:1px solid lightgrey ;
            height: 90px;
            border-left: none;
            border-right: none;
            display: flex;
            flex-direction: row;
            text-align: center;
        }
        .head_container>div{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            
        }
        #head_input{
            border: 1px solid lightgrey;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            display: inline-block;
            padding: 6px;
            height: 50px;
            margin:auto;
            margin-right: 0px;
            width: 350px;
            font-size: 17px;
            /* border-right: none; */
        }
        #head_search {
            height: 64.3px;
            width: 40px;
            float: right;
            padding: 6px;
            margin: auto;
            margin-left: 0px;
            background:white;
            font-size: 25px;
            border: 1px solid lightgrey;
            border-left: none;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            cursor: pointer;
}
        #head_search:hover {
            background: white;
        }
        a{
            text-decoration: none;
            color: grey;
        }
        .head_b1{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #f43397;
            line-height: 1px;
            margin-right: 20px;
            font-size: 25px;
            padding-right: 10px;
        }
        .head_b2{
            text-align: center;
            display: flex;
            flex-direction: row;
            
        }
        .head_b4,.head_b3,.head_b5,.head_b6{
            width: 50px;
            font-size:20px ;
            padding-left: 70px; 
        }
        .head_subMenu{
            border:1px solid lightgrey ;
            height: 60px;
            border-top: none;
            border-left: none;
            border-right: none;
            display: flex;
            gap: 10px;
            justify-content: space-evenly;
            flex-direction: row;
            text-align: center;
        }
        .head_subMenu>div{
            height: 100%;
            width: auto;
            display: flex;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 20px;
            align-items: center;
        }
        .head_subMenu>div:hover{
            background-color: white;
            color: #f43397;
            font-weight: bold;
            border-bottom: 4px solid;
        }
        #meesho_logo{
            margin-left: 40px;
        }
        .cart,.user{
            font-size: 35px;
            color: grey;
        }
        /* head css end */
        .container{
            height: 800px;
        }
        .box{
            background-color: whitesmoke;
            display: inline-block;
            height: 300px;
            width: 48%;
            margin: auto;
            vertical-align: top;
        }
        .box1{
            height: 270px;
            margin-left: 10%;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            border-radius: 8px;
        }
        hr{
            margin: 0;
            padding: 0;
        }
        .prod{
            vertical-align: top;
            display: inline-block;
            margin-top: 7%;
            margin-left: 8%;
            font-size: 20px;
            font-weight: bold;
            line-height: 30px;
        }
        img{
            height:120px ;
        }
        span{
            color: gray;
        }
        #supplier{
            color: gray;
            padding-left: 20px;
        }
        .box2{
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            padding-left:30px ;
            width: 300px;
            margin-left: 50px;
        }
        p{
            color: grey;
        }
        .leftA{
            padding-left: 50px;
            text-align: left;
            color: red;
        }
        .ls{
            padding-left: 74px;
        }
        .ld{
            padding-left: 10px;
        }
        .lm{
            padding-left: 26px;
        }
        button{
            
            background-color: #f43397;
            border: none;
            height: 40px;
            width: 90%;
            margin: auto;
            font-size: 20px;
            font-weight: bold;
            border-radius:5px ;
            color: white;
        }
        #sp{
            color: red;
        }
        .f_address{
            padding-left: 8%;
            font-size: 17px;
        }
        #del_button{
            margin-left: 5%;
        }
        #add2{
            background-color:whitesmoke; margin-top: 50px; margin-bottom: 30px; border-radius: 10px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            padding-bottom: 20px;
        }

        /* check bar start */
        .fa-check{
            color:white;
            background-color: green;
            border-radius: 20px;
            width:99%;
            height:99%;
            font-size:20px;
            
          }
          .fa-times{
            color:white;
            background-color: red;
            border-radius: 20px;
            width:20px;
            height:20px;
            font-size:20px;
            
          }
          .p{
            display:flex;
            margin-left: 33%;
            margin-top: 100px;
          }
          .c1{
            
            border:1px solid red;
            height:20px;
            width:20px;
            text-align: center;
            border-radius:50px;
          }
          .c2{
            
            border:1px solid grey;
            height:20px;
            width:20px;
            text-align: center;
            border-radius:50px;
          }
          .c{
            
            border:1px solid grey;
            height:20px;
            width:20px;
            border-radius:50px;
          }
          .l{
            margin-top:11px;
            background-color:grey;
            border:1px solid grey;
            height:0px;
            width:150px;
          }
          .l1{
            margin-top:11px;
            background-color:grey;
            border:1px solid grey;
            height:0px;
            width:150px;
          }

          .p8{
            display:flex;
            margin-left: 32%;
            margin-top: 5px;
          }
          
          .l8{
            margin-top:11px;
            background-color:white;
            border:1px solid white;
            height:0px;
            width:150px;
          }
          .c8{
            
            border:1px solid white;
            height:20px;
            width:20px;
            border-radius:50px;
          }